@import url(./reset.css);
/*

++++++++++++++++++++++
|      THEME CSS     |
|                    |
++++++++++++++++++++++

*/
:root{
    --bgcolor-header: #222; /* variable css */
    --bgcolor-figcpation:  #5bcaf2;
}

header{
    background-color: var(--bgcolor-header);
   
}
header h1{
    line-height: 7.5rem;
    text-align: center;
    color: #fff;
}


figure{
    max-width: 100rem;
    margin: 5rem auto 0;
    border: solid .1rem transparent;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 3rem #848383;
}
figure em{
    color: var(--bgcolor-figcpation);
}
figure h2{
    background-color: var(--bgcolor-header);
    color: #fff;
    padding: 1rem;
}
figure figcaption{
    background-color: var(--bgcolor-figcpation);
    padding: 1rem;
   
}
footer *{
    text-align: center;
}
